<h1>This is the Secret Page</h1>
<p> You found me!</p>
<img src="http://www.keepcalmstudio.com/_gallery/300/1dMEPbX.png" >


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>